<div *ngIf="showmap" id="topcontainer">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [scrollwheel]="false"
    [zoom]="zoom"
    id="map"
  >
    <ng-container>
      <agm-polyline
        *ngFor="let polyline of polylines; let i = index"
        [strokeColor]="polyline.color"
      >
        <span *ngFor="let point of polyline.path">
          <agm-polyline-point
            *ngIf="point"
            [latitude]="point.latitude"
            [longitude]="point.longitude"
          >
          </agm-polyline-point>
        </span>
      </agm-polyline>
    </ng-container>
  </agm-map>
  <span id="compass" *ngIf="showcompass">
    <img id="" src="assets/compass_example.png" alt="pic of boat" />

    <img
      src="assets/pointer_example.png"
      alt="pic of boat"
      [ngStyle]="{
        position: 'relative',
        top: '-303px',
        left: '1.5%',
        height: '300px',
        'transform-origin': 'center',
        transform: 'scale(0.4)' + 'rotate(' + compassdegree + 'deg)'
      }"
    />
    <h3>Compass {{ compassdegree }}°</h3>
  </span>
  <!--
  <button (click)="moveMarkerManually('up', 0.0002)">Up</button>
  <button (click)="moveMarkerManually('right', 0.0002)">Right</button>
  <button (click)="moveMarkerManually('down', 0.0002)">Down</button>
  <button (click)="moveMarkerManually('left', 0.0002)">Left</button>
  <br />
  <br /> -->

  <!-- Previous locations -->
</div>
<div id="imu">
  <span id="degreeX" *ngIf="showimu">
    <img
      src="assets/frontal_boat_example.png"
      alt="pic of boat"
      [ngStyle]="{ transform: 'rotate(' + imudegree[0] + 'deg)' }"
    />
    <h3>Angle of list and heel: {{ imudegree[0] }}°</h3>
  </span>
  <span id="degreeY" *ngIf="showimu">
    <img
      src="assets/side_boat_example.png"
      alt="pic of boat"
      [ngStyle]="{ transform: 'rotate(' + imudegree[1] + 'deg)' }"
    />
    <h3>degreeY {{ imudegree[1] }}°</h3>
  </span>
</div>
