<div *ngIf="showmap" id="topcontainer">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [scrollwheel]="false"
    [zoom]="zoom"
    [mapTypeId]="this.viewType"
    id="map"
  >
    <ng-container>
      <agm-polyline
        *ngFor="let polyline of polylines; let i = index"
        [strokeColor]="polyline.color"
      >
        <span *ngFor="let point of polyline.path">
          <agm-polyline-point
            *ngIf="point"
            [latitude]="point.latitude"
            [longitude]="point.longitude"
          >
          </agm-polyline-point>
        </span>
      </agm-polyline>
    </ng-container>
  </agm-map>
</div>
<div id="imu">
  <span id="degreeX" *ngIf="showimu">
    <img
      src="assets/boat_front.png"
      alt="pic of boat"
      [ngStyle]="{ transform: 'rotate(' + imudegree[0] + 'deg)' }"
    />
    <h3>Angle of list and heel: {{ imudegree[0] }}°</h3>
  </span>
  <span id="degreeY" *ngIf="showimu">
    <img
      src="assets/boat_side.png"
      alt="pic of boat"
      [ngStyle]="{ transform: 'rotate(' + imudegree[1] + 'deg)' }"
    />
    <h3>degreeY {{ imudegree[1] }}°</h3>
  </span>
</div>
